.item {
    display: none;
    position: absolute;
    top:30%
}

img{
    width: 500px;
    height: 350px;
    object-fit: cover;
}
.active {
    display: block;
}
.btns{
    border: none;
    outline: none;
    z-index: 999;
}
#right{
    position: absolute;
    right: 10px;
    color: blue;
    font-size: 30px;
    top: 50%;
}
#left{
    position: absolute;
    left: 10px;
    color: blue;
    font-size: 30px;
    top: 50%;
}

.backgroundRed{
    background-color: red;
}